<div>
    <form name="searchForm" novalidate>

        <div class="errors" ng-show="searchForm.serverError.$invalid">
            <span ng-show="searchForm.serverError.$error.server">{{ errors.serverError }}</span>
        </div>

        <input type="text" name="SearchTerms" server-error autocomplete="off" typeahead-wait-ms="300" ng-model="SearchTerms" typeahead-min-length="2" required ng-minlength="2" ng-maxlength="100" maxlength="100"
            typeahead="s for s in getList($viewValue) | filter:$viewValue" class="form-control" />

        <div ng-show="searchForm.SearchTerms.$dirty && searchForm.SearchTerms.$invalid">
            <span ng-show="searchForm.SearchTerms.$error.required">Måste ange en sökterm.</span>
            <span ng-show="searchForm.SearchTerms.$error.minlength">Måste vara minst 2 tecken.</span>
            
            
        </div>
        <span ng-show="searchForm.SearchTerms.$error.server">{{ errors.SearchTerms }}</span>
        <button ng-click="search(SearchTerms)" ng-disabled="searchForm.$invalid || isUnchanged(SearchTerms)">Sök</button>
    </form>
</div>
<div>
    <ul>
        <li ng-repeat="ad in searchResult.AdsContainer.Ads">
            <img src="http://api.bcdn.se/cache/primary_{{ad.BooliId}}_140x94.jpg" />
            <div ng-if="ad.ListPrice !== null">{{ad.ListPrice}}</div>
            <div>{{ad.ObjectType}}</div>
            
            <div ng-if="ad.Published !== null">{{ad.Published | date:'yyyy-MM-dd'}}</div>
        </li>
    </ul>

    <div ng-include="'app/views/venueSearch.html'"></div>
</div>