<div ng-controller="VenueSearchCtrl">
    <div class="form-group col-lg-4">
        <label for="SearchVenues">Närliggande platser</label>

        <input type="text" id="SearchVenues" name="SearchVenues" server-error autocomplete="off" ng-model="currentVenue" venue-categories-tags="Search.venues"
            typeahead-editable="false" typeahead-wait-ms="300" typeahead-min-length="2" typeahead="s for s in getList($viewValue) | filter:$viewValue" class="form-control" />
        <p class="help-block">Tex: Airport, Food, Art Museum</p>
        <div>
            <div ng-show="searchForm.SearchVenues.$dirty && searchForm.SearchVenues.$invalid">
                <span ng-show="searchForm.SearchVenues.$error.editable">Endast platser från listan får väljas.</span>
            </div>
            <span ng-show="searchForm.SearchVenues.$error.server">{{ errors.SearchVenues }}</span>
        </div>
    </div>

    <div class="col-lg-8">
        <label>Platser</label>
        <div>
            <div class="tag label label-primary pull-left" ng-repeat="venue in Search.venues">
                {{venue}}
                <span data-role="remove" ng-click="removeVenue(venue)"></span>
            </div>
        </div>
    </div>
</div>


