@if (Request.IsAuthenticated)
{
    <text>

    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <a class="btn btn-info" href="javascript:document.getElementById('logoutForm').submit()">Logga ut</a>
        </div>
            
    }

    <p class="navbar-text navbar-right">
        Hej, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username navbar-link", title = "Manage" })!
    </p>

    </text>
}
else
{  
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Registrera", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

