@{
    ViewBag.Title = "Misslyckad inloggning";
}

<div class="col-xs-12">
    <h1>@ViewBag.Title</h1>
    <h2>Misslyckad inloggning med extern tjänst.</h2>
    <p>
        Gå tillbaka till @Html.ActionLink("inloggings sidan", "Login", "Account").
    </p>
</div>




